body,
html {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: black;
}
p {
    text-align: center;
        line-height: 1.5em;
        font-size: 1.2em;
    }
    .my_dataviz
    {
        width: 100%;
        padding: 5px;
    }